<html >
<div id="header" class="header">
  <div class="col-md-4">
    <div class="titleHeader">
        <a href="#/home">FIFA Ballon d'Or   <small><span class="label label-warning">2013</span></small></a>
    </div>
  </div>
  <div class="col-md-8">
    <div class = "buttons">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#/home" ng-click="click()">Accueil</a></li>
        <li><a href="#/votes">Votes</a></li>
        <li><a href="#/graph">Graphiques</a></li>
      </ul>
    </div>
  </div>

 
<section id="slideshow">
    
  <div class="container">
    <div class="c_slider"></div>
    <div class="slider">
      <figure>
        <img src="../images/1.jpg" alt="" width="1000" height="500" />
        <figcaption>Les trois finalistes du ballon d'or 2013</figcaption>

      </figure><!--
      --><figure>
        <img src="../images/2.jpg" alt="" width="1000" height="500" />
        <figcaption>Ribéry termine troisème</figcaption>
      </figure><!--
      --><figure>
        <img src="../images/3.jpg" alt="" width="1000" height="500" />
        <figcaption>Les larmes de Ronaldo</figcaption>

      </figure><!--
      --><figure>
        <img src="../images/4.jpg" alt="" width="1000" height="500" />
        <figcaption>Un duel Ronaldo-Messi</figcaption>
      </figure>
    </div>
  </div>
    
  <span id="timeline"></span>
</section>
            <br /><br /><br />

  <article  id="mainArticle">

      <header class="special container">
        <div class="logos">
          
          
          <div class="col-md-12">
            <img src="../images/yeoman.png" width="150" height="150">
            </br>
          </div>
          <div class="col-md-12">
          </br>
        </div>
        </div></br>
          <h2></br>Bienvenue sur notre site <strong>FIFA Ballon d'or 2013</strong><br /></h2>
          <p>Une <strong>base de donnée</strong> libre a été selectionnée<br /> Les informations ont été récépérées, mises en forme, et des fonctionnalités ont été ajoutées<br />
          
          La base de donnée est disponible <a href="http://public.opendatasoft.com/explore/dataset/resultat_ballon_d_or_2014/?tab=table"><strong>ici !</strong></a></p>
        </header>
        <h2>Yo !</h2>
        <p>L'application a été crée avec <strong>Yeoman</strong>, elle est utilisable à partir de la comande <strong><i>grunt serve</i></strong></p><br />
        
        <div class="col-md-12">
          </br></br>
        </div>

        <div class="col-md-4">
          <i class="fa fa-check fa-4x"></i>
          <h2>Un site stylisé</h2>
          <p>Nous avons utilisé <strong>Bootstraps</strong>, les fonctionnalités principales de <strong>SASS</strong>, ainsi que plusieurs packages <strong>Bower</strong> afin de créer une application responsive</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-check fa-4x"></i>
          <h2>AngularJS</h2>
          <p>Notre application est fondée sur une architechture <strong>MVC</strong>, un  <strong>filter</strong> est utilisé pour trier les données, la navigation est organisée par un <strong>Route Provider</strong> , et nous utilisons des directives</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-check fa-4x"></i>
          <h2>Fonctionnalités</h2>
          <p>Notre application est facile d'utilisation et propose différentes fonctionnalités telles que la  <strong><a href="#/votes"><strong>recherche</strong></a></strong> d'éléments, et l'affichage de <strong><a href="#/graph"><strong>graphiques</strong></a></strong></p>
        </div> 
        <div class="col-md-12">
          </br>
        </div>
        <div class="logos">
          
          <div class="col-md-4">
            <img src="../images/sass.png" width="150" height="150">
          </div>
          <div class="col-md-4">
            <img src="../images/angularjsb.png" width="150" height="150">
          </div>
          <div class="col-md-4">
            <img src="../images/settings.png" width="150" height="150">
          </div>
        </div>
        <div class="col-md-12">
          </br></br>
        </div>

  </article>

   <header-opacity></header-opacity>
<div class="col-md-12">
          </br>
        </div>

<footer class="footer" id="footer">
  <div class="col-md-12">
     <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a></br>
    <span class="copyright">&copy; Untitled. All rights reserved. Design: Thomas Creplet & Emmanuel Le Rider.</span>
  </div>
      
</footer>



 
</html>